@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

body {
    font-family: "Poppins", sans-serif;
}
.center {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 42%;
}
button {
    display: inline-block;
    background: #000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}

button:focus {
    outline: none;
}

button:active {
    transform: scale(0.98);
}
.card {
    width: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.container {
    padding: 2px 16px;
}
